body {

}

h1 {

}

.concrete {
  background-image: url('./images/concrete.jpeg');
  padding: 200px;
  margin: auto;
  width: 800px;
  height: 800px;
}

.white-div {
  margin: auto;
  width: 300px;
  padding: 10px;
  background-color: rgb(255, 255, 255, 0.5);
  border-radius: 5%;
}

label {
  font-size: 3em;
  color: white;
}
button {
  width: 150px;
  height: 40px;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.App-footer {
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: transparent;
  color: black;
  text-align: center;
}

.Score-board {
  text-align: left;
}

.text-box {
  width: 1000px;
  height: 34.5px;
}

.table {
  font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}
td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
  color: white;
}
tr:nth-child(even) {
    background-color: #dddddd;
}



/* @keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
} */

/* allows for the log to spin */
